<!-- FOOTER -->
<footer class="footer">
	<div class="footer-question">
		<h2>have a question?</h2>
		<a href="#"><h1>contact me</h1></a>
	</div>
	<div class="footer-contact-address">
		<i class="fas fa-map-marker-alt"></i>Address:
		<p>4915 Bathurst Street - Unit 216</p>
		<p>Toronto, ON M2R 1X9 </p>
		<p>Clinic is located inside Britanico and Associates Financial Services</p>
	</div>
</footer>
</body>
</html>