<!-- HEADER -->
<header class="header">
		<div 
			class="header-hero" 
			style="background-image: url('../lib/img/alexandre-croussette-600077-unsplash.jpg')"
		>
			<h1>give your lashes a new life</h1>
		</div>
	<!-- FIXED NAV -->
		<nav class="navigation">
			<a href="#" class="logo">xxtralash</a>

			<!-- menu - hidden when mobile -->
			<ul id='navMenu' class="navigation-menu">
					<li><a href="#main">services</a></li>
					<li><a href="#book">book</a></li>
					<li><a href="#footer">contact</a></li>
			</ul>

			<div id="hamburger" class="hamburger">
				<div class="burger"></div>
				<div class="burger"></div>
				<div class="burger"></div>
			</div>
		</nav>
	</header>