<!-- HEADER -->
<header class="header">
	<div 
		class="header-hero" 
		style="background-image: url('../lib/img/alexandre-croussette-600077-unsplash.jpg')"
	>
		<h1>give your lashes a new life</h1>
	</div>
</header>
<!-- FIXED NAV -->
<nav class="navigation">
	<a href="#" class="logo">xxtralash</a>
	<div class="hamburger">
		<div class="burger"></div>
		<div class="burger"></div>
		<div class="burger"></div>
	</div>
</nav>