<% include ../partials/head %>
<% include ../partials/header %>

	<!-- MAIN CONTENT -->
	<main class="main">
		<div class="main-desc">
			<h1 class="call-to-action">what do you need?</h1>
			<h3 class="services-list">soft volume / regular volume / mega volume / monolid lid correction</h3>
			<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ea deserunt facilis totam, laboriosam dolor ipsum cum eos ab maxime.</p>
		</div>

		<ul class="services">
			<li class="services-card">
				<h2 class="services-card-title">soft volume</h2>
				<div style="background-image: url('../lib/img/jamie-street-502558-unsplash-min.jpg')" class="service-card-img"></div>
				<p>2D lashes</p>
			</li>
			<li class="services-card">
				<h2 class="services-card-title">regular volume</h2>
				<div style="background-image: url('../lib/img/jamie-street-502558-unsplash-min.jpg')" class="service-card-img"></div>
				<p>3D-5D lashes</p>
			</li>
			<li class="services-card">
				<h2 class="services-card-title">mega volume</h2>
				<div style="background-image: url('../lib/img/jamie-street-502558-unsplash-min.jpg')" class="service-card-img"></div>
				<p>6D-10D lashes</p>
			</li>
			<li class="services-card">
				<h2 class="services-card-title">monolid lid correction</h2>
				<div style="background-image: url('../lib/img/jamie-street-502558-unsplash-min.jpg')" class="service-card-img"></div>
				<p></p>
			</li>
		</ul>
	</main>

<% include ../partials/footer %>