/* GLOBAL STYLING */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
}

/* HEADER */

.header-hero {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.header-hero h1 {
	font-size: 2.4rem;
	line-height: 1.5;
	position: relative;
	width: 5em;
	text-transform: uppercase;
	top: 12.5rem;
	left: 1rem;
}

/* NAVIGATION */

.navigation	{
	background-color: white;
	display: flex;
	align-items: center;
	height: 3rem;
	position: fixed;
	top: 0;
	width: 100%;
}

.logo {
	padding: 0 1rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
}

.hamburger {
	margin-left: auto;
	padding: 0 1rem;
}

.burger {
	height: .1rem;
	width: 2rem;
	background-color: black;
	margin: 0.5rem 0;
}

/* MAIN SECTION */

.main-desc {
	padding: 3rem 1rem;
}

.main-desc h1, .main-desc h3 {
	letter-spacing: .2rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.main-desc h3 {
	font-size: .9rem;
}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services-card {
	border: 1px solid black;
	border-radius: 15% 0 15% 0;
	height: 15rem;
	list-style: none;
	margin-bottom: 1rem;
	padding: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	width: 21.5rem;
}