/* 
deep purple: #9b287b
picton blue: #48acf0
baby powder: #fdfdfd
jet black: #2f2f2f
misty rose: #ffe6ea
*/

/* GLOBAL */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	color: #777;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	line-height: 1.7;
}

li {
	list-style: none;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

/* HEADER */

.header {
	align-items: center;
	background-color: #2f2f2f;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 40vh;
	background: linear-gradient(to right, #9b287b, #ffe6ea)
}

.header__logo {
	color: #ffe6ea;
	font-family: 'Proza Libre', sans-serif;
	font-weight: 700;
	font-size: 2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.header__logo span {
	color: #9b287b;
}

.header__menu {
	display: inline-flex;
	position: relative;
	top: 3em;
}

.header__menu__items {
	font-size: .7em;
	letter-spacing: .2em;
	list-style: none;
	padding: 0 1em;
	text-transform: uppercase;
}

.header__menu__items a {
	color: #ffe6ea;
}

/* APPOINTMENT REMINDER */

.booking {
	background-color: #ffe6ea;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.5em;
	font-size: .8em;
	text-transform: uppercase;
}

.booking__button {
	color: #5e5e5e;
	letter-spacing: .2em;
}

/* MAIN MENU ITEMS */

.main {
	background-color: #fdfdfd;
}

.main__menu li:nth-child(2) {
	border: 1px solid #f8c4cd;
}

.main__menu li:nth-child(2) div {
	color: #9b287b;
}

.main__menu__items {
	border: 1px solid #9b287b;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 6em;
	margin: 1em auto;
	width: 15em;
	text-transform: uppercase;
}

.main__menu__items a {
	color: #5e5e5e;
	font-size: 1em;
}

.main__menu_items_keyword {
	color: #e7b1ba;
	text-align: center;
}