/* 
deep purple: #9b287b
picton blue: #48acf0
baby powder: #fdfdfd
jet black: #2f2f2f
misty rose: #ffe6ea
*/

/* GLOBAL */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	color: #777;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	line-height: 1.7;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

/* HEADER */

.header {
	align-items: center;
	background-color: #2f2f2f;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 50vh;
	background: linear-gradient(to right, #9b287b, #ffe6ea)
}

.header__logo {
	color: #ffe6ea;
	font-family: 'Proza Libre', sans-serif;
	font-weight: 700;
	letter-spacing: .5em;
	text-transform: uppercase;
}

.header__logo span {
	color: #9b287b;
}

.header__menu {
	display: inline-flex;
	position: relative;
	top: 4em;
}

.header__menu__items {
	color: #ffe6ea;
	list-style: none;
	padding: 0 1em;
	text-transform: uppercase;
}

.header__menu__items a {
	color: #ffe6ea;
}

/* APPOINTMENT REMINDER */

.booking {
	background-color: #ffe6ea;
	height: 2.5em;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
}

.booking a {

}